tqdm==4.56.0
termcolor==1.1.0
scipy==1.4.1
pymoo==0.6.0
matplotlib==3.2.1
torch==1.7.1+cu110
torchvision==0.8.2+cu110
faiss_cpu==1.7.2
pandas==1.0.4
albumentations==0.5.2
joblib==0.15.1
einops==0.3.0
numpy==1.19.2
faiss==1.5.3
scikit_learn==1.1.2
